<% content_for :agent_xmpp_content do %>
  <div id="agent-xmpp-left">
    <p>
      The first Ruby application framework for writing automated XMPP clients that support Messaging, Ad-Hoc Commands and Publish Subscribe Events. 
      Out of the box you get authentication, authorization, contacts and management statistics. 
    </p>
    <p>
      Writing applications is easy.
    </p>
    <h1>Install</h1>
    <div class="code">
      <pre>
    gem install agent_xmpp
      </pre>
    </div>
    <h1>Configure</h1>
    <div class="code">
      <pre>
    # agent_xmpp.yml
    jid: myapp@nowhere.com
    password: secret
    roster:
        -
            jid:you@home.com
            groups: [admin]

    publish:
        - 
            node: time
            title: "Curent Time"   
      </pre>
    </div>
    <h1>Code</h1>
    <div class="code">
      <pre>
    # myapp.rb
    require 'rubygems'
    require 'agent_xmpp'

    command 'hello' do
      'Hello World'
    end 
    
    discovered_pubsub_node do |service, node|
      EventMachine::PeriodicTimer.new(600) do
        publish_time(Time.now.to_s)
      end  
    end             
      </pre>
    </div>
    <h1>Run</h1>
    <div class="code">
      <pre>
    ruby myapp.rb
      </pre>
    </div>
  </div>  
  <div id="agent-xmpp-right">
    <img id="agent" src="/agent-xmpp/agent-xmpp-background-agent.png">
    <h1><a href="/projects/agent-xmpp/docs">Documentation</a></h1>
  </div>  
<% end %>