<% content_for :navigation do %>
  <ul>
    <li><a href="/products">products</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div style="padding-top: 30px;"></div>
  <h1>Archive</h1>
  <table class="archive">
  <% posts.each do |post| %>
  	<tr>
  		<td class="date"><%= post.created_at.strftime("%B %d, %Y") %></td>
  		<td class="title"><a href="<%= post.url %>"><%= post.title %></a></td>
  	</tr>
  <% end %>
  </table>
<% end %>