<% content_for :page do %>
  <form action="<%= url %>" method="post" name="edit">
  <div class="postzoom">
  	<input class="title" type="text" name="title" value="<%= post.title %>" />
  	<p class="meta"><%= post.created_at %></p>
  	<textarea class="entry" name="body"><%= post.body %></textarea>
  	<div class="edit"><input type="submit" value="Save" /></div>
  </div>
  </form>
<% end %>  