<% content_for :page do %>
  <form action="<%= url %>" method="post" name="edit">
  <div class="postzoom">
  	<input class="title" type="text" name="title" value="<%= post.title %>" />
  	<p class="date"><%= post.created_at %></p>
  	<textarea class="entry" name="body"><%= post.body %></textarea>
  	<input class="edit" type="submit" value="save"/>
  </div>
  </form>
<% end %>  