<% content_for :head do %>
  <script src='/jquery-1.5.2.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/image-slider.js' type='text/javascript' charset='utf-8'></script>
<% end %>
<% content_for :navigation do %>
  <ul>
  <li><a href="/products"><img src="/products.png"></a></li>
  <li><a href="/blog"><img src="/blog.png"></a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="gallery">
    <div id="slides">
      <div class="slide" style="background-image:url('mars-mission.png');">
        <a href="/products/mars-mission" class="relative" style="left:525px; top:229px;"><img src="mars-mission-button.png"/></a>
      </div>
      <div class="slide" style="background-image:url('web-gnosus.png');">
        <a href="/products/web-gnosus" class="relative" style="left:540px; top:249px;"><img src="web-gnosus-button.png"/></a>
      </div>
    </div>
  </div>
  <div id="menu">
    <ul>
      <li class="menuItem"><a href=""><img src="mars-mission-gallery-icon.png" /></a></li>
      <li class="menuItem"><a href=""><img src="web-gnosus-gallery-icon.png" /></a></li>
    </ul>
  </div>
<% end %>