<% content_for :head do %>
  <script src='/javascript/gameOfLife.js' type='text/javascript' charset='utf-8'></script>
  <script src='/javascript/gallery.js' type='text/javascript' charset='utf-8'></script>
<% end %>
<% content_for :canvas do %>
  <script type="text/javascript">
    window.onresize = function() {
      setPageWidth();
      gameOfLife();
    }
  </script>
  <canvas id="game-of-life" width="100", height="100"></canvas>
<% end %>
<% content_for :navigation do %>
  <ul>
    <li><a href="/products">products</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="floater"></div>
  <div id="gallery">
    <div id="slides">
      <div class="slide" style="background-image:url('/company/mars-mission.png');">
        <a href="/products/mars-mission" class="relative" style="left:500px; top:290px;"><img src="/company/mars-mission-button.png"/></a>
      </div>
      <div class="slide" style="background-image:url('/company/web-gnosus.png');">
        <a href="/products/web-gnosus" class="relative" style="left:540px; top:249px;"><img src="/company/web-gnosus-button.png"/></a>
      </div>
    </div>
  </div>
  <div id="menu">
    <ul>
      <li class="menuItem"><a href=""><img src="/company/mars-mission-gallery-icon.png" /></a></li>
      <li class="menuItem"><a href=""><img src="/company/web-gnosus-gallery-icon.png" /></a></li>
    </ul>
  </div>
<% end %>