<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Mars Mission</title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
  <script src='/javascript/jquery-1.5.2.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/javascript/imaginaryProducts.js' type='text/javascript' charset='utf-8'></script>
</head>

<body>
  
  <script type="text/javascript">
    $(document).ready(function() {
      showVignette('mars-mission');
      setPageWidth();
    });
  </script>
  
  <div id="content" style="font-family:'Lucida Casual', 'Comic Sans MS';">
    <div id="navigation-wrapper" style="background-color:#e11d00; border-bottom: 5px solid #000; height: 210px;">
    	<div id="navigation">
       	<img src="/mars-mission/mars-mission-site-logo.png" class="logo">
       	<img src="/mars-mission/mars-mission-name.png" class="logo-name">
    	</div>
    </div>

    <div id="page-wrapper">
      <div id="page">
        <div id="screenshots">
          <img src="/mars-mission/mars-mission-screenshots.png">
          <div class="description" style="padding-top: 35px;">
            <p>
              Program a Mars exploratory rover to complete missions. Using a simple programming language players write programs
              that allow the rover to navigate terrain obstacles, collect soil samples and place sensor instrument pods. Programming fun for 
              everyone.
            </p>
            <div class="app-store" style="margin-top: 100px;">
              <a href="http://itunes.apple.com/us/app/mars-mission/id456121950?ls=1&mt=8"><img src="/company/App_Store_Badge_EN_0609.png" /></a>
            </div>              
          </div>
        </div>
        <div id ="videos">
          <ul>
            <li>
              <h1>Mars Mission Introduction</h1>
              <p>The first mission is solved to illustrate how to write and run programs.</p>
              <iframe width="560" height="345" src="http://www.youtube.com/embed/JFYmVgtLjgM" frameborder="0" allowfullscreen></iframe>
            </li>
          </ul>      
        </div>
      </div>
    </div>
  </div>

  <div id="footer-wrapper" style="background-color:#e11d00; border-top: 5px solid #000; margin-top: -78px;">
    <div id="footer">
      <div>
     	  <a href="/"><img src="/mars-mission/mars-mission-imaginaryProducts.png" class="logo"></a>
     	</div>
      <ul>
        <li>
          <a href="mailto:troy@imaginaryproducts.com">
            <img src="/mars-mission/mars-mission-email.png" alt="email imaginaryProducts"/>
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com/imaginaryprod">
            <img src="/mars-mission/mars-mission-twitter.png" alt="Follow imaginaryprod on Twitter"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
   
</body>
</html>