<% content_for :navigation do %>
  <ul>
  <li><a href="/products"><img src="/products.png"></a></li>
  <li><a href="/blog"><img src="/blog.png"></a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <form action="/blog/posts" method="post" name="new">
  <div class="postzoom">
  	<input class="title" type="text" name="title"/>
  	<textarea class="entry" name="body"> </textarea>
  	<input class="edit" type="submit" value="save"/>
  </div>
  </form>
<% end %>