<% content_for :navigation do %>
  <ul>
  <li><img src="/products-selected.png"></li>
  <li><a href="/blog"><img src="/blog.png"></a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="products">
    <ul>
      <li class="product" style="height: 165px;" >
        <div class="icon" style="margin-top: 38px;" >
          <a href="/products/mars-mission"><img src="mars-mission-icon.png" /></a>
        </div>
        <div class="content">
          <h1>Mars Mission</h1>
          <p>
            Program a Mars exploratory rover to complete missions. Using a simple programming language players write programs
            that allow the rover to navigate terrain obstacles, collect soil samples and place sensor instrument pods. Programming has
            never been so much fun.
          </p>
          <div class="more">
  				  <a href="/products/mars-mission">more &raquo;</a>
  				</div>
        </div>
        <div class="app-store" style="margin-top: 60px;">
          <img src="App_Store_Badge_EN_0609.png" />
        </div>
      </li>
      <li class="product" style="height: 145px;">
        <div class="icon" style="margin-top: 28px;">
          <a href="/products/web-gnosus"><img src="web-gnosus-icon.png" /></a>
        </div>
        <div class="content">
          <h1>web.gnos.us</h1>
          <p>
            Pubsub, geo location, data forms and a service browser are the features that separate web.gnos.us from typical chat clients.
            web.gnos.us can be used with any XMPP server.
          </p>
          <div class="more">
  				  <a href="/products/web-gnosus">more &raquo;</a>
  				</div>
        </div>
        <div class="app-store"  style="margin-top: 50px;">
          <img src="App_Store_Badge_EN_0609.png" />
        </div>
      </li>
    </ul>
  </div>
<% end %>