<% content_for :navigation do %>
  <ul>
    <li class="selected">products</li>
    <li><a href="/projects">projects</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="products">
    <ul>
      <li class="product" style="height: 205px;" >
        <div class="icon" style="margin-top: 55px;" >
          <a href="/products/mars-mission"><img src="/company/mars-mission-icon.png" /></a>
        </div>
        <div class="content">
          <h1>Mars Mission</h1>
          <p>
            Program a Mars exploratory rover to complete missions. Using a simple programming language players write programs
            that allow the rover to navigate terrain obstacles, collect soil samples and place sensor instrument pods. Programming fun for 
            everyone.
          </p>
          <div class="more">
  				  <a href="/products/mars-mission">read more &raquo;</a>
  				</div>
        </div>
        <div class="app-store" style="margin-top: 80px;">
          <a href="http://itunes.apple.com/us/app/mars-mission/id456121950?ls=1&mt=8"><img src="/company/App_Store_Badge_EN_0609.png" /></a>
        </div>
      </li>
      <li class="product" style="height: 185px;">
        <div class="icon" style="margin-top: 43px;">
          <a href="/products/web-gnosus"><img src="/company/web-gnosus-icon.png" /></a>
        </div>
        <div class="content">
          <h1>web.gnos.us</h1>
          <p>
            Pubsub, geo location, data forms and a service browser are the features that separate web.gnos.us from typical mobile chat clients.
            web.gnos.us can be used with any XMPP server. An account on an XMPP server is required.
          </p>
          <div class="more">
  				  <a href="/products/web-gnosus">read more &raquo;</a>
  				</div>
        </div>
        <div class="coming-soon"  style="margin-top: 43px;">
          <img src="/company/coming-soon.png" />
        </div>
      </li>
    </ul>
  </div>
<% end %>