<% content_for :navigation do %>
  <ul>
  <li><img src="/products-selected.png"></li>
  <li><a href="/blog"><img src="/blog.png"></a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="products">
    <ul>
      <li class="product">
        <div class="icon">
          <a href="/products/mars-mission"><img src="mars-mission-icon.png" /></a>
        </div>
        <div class="content">
          <h1>Mars Mission</h1>
          <p>Use a simple programming language to control a rover.</p>
        </div>
        <div class="app-store">
          <img class="icon" src="App_Store_Badge_EN_0609.png" />
        </div>
      </li>
      <li class="product">
        <div class="icon">
          <a href="/products/web-gnosus"><img src="web-gnosus-icon.png" /></a>
        </div>
        <div class="content">
          <h1>web.gnos.us</h1>
          <p>Pubsub, geo location, data forms and a service browser are the features that separate web.gnos.us from typical chat clients.</p>
        </div>
        <div class="app-store">
          <img class="icon" src="App_Store_Badge_EN_0609.png" />
        </div>
      </li>
    </ul>
  </div>
<% end %>