<% content_for :navigation do %>
  <ul>
    <li><a href="/products">products</a></li>
    <li class="selected">projects</li>
    <li><a href="/blog">blog</a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="products">
    <ul>
      <li class="product" style="height: 185px;" >
      </li>
      <li class="product" style="height: 185px;">
      </li>
    </ul>
  </div>
<% end %>