<% content_for :navigation do %>
  <ul>
    <li><a href="/products">products</a></li>
    <li class="selected">projects</li>
    <li><a href="/blog">blog</a></li>
  </ul>
<% end %>
<% content_for :page do %>
  <div id="projects">
    <ul>
      <li class="project" style="height: 190px;" >
        <div class="icon" style="margin-top: 20px;" >
          <a href="/projects/agent-xmpp"><img src="/agent-xmpp/agent-xmpp-icon-agent.png" /></a>
        </div>
        <div class="content">
          <h1>Agent XMPP</h1>
          <p>
            Agent XMPP is an application framework for writing XMPP clients that support Messaging, Ad-Hoc Commands and Publish Subscribe Events. 
          </p>
          <div class="more">
  				  <a href="/projects/agent-xmpp">read more &raquo;</a>
  				</div>
        </div>
      </li>
      <li class="project" style="height: 185px;">
        <div class="icon" style="margin-top: 20px;" >
        </div>
        <div class="content">
          <h1>zgomot</h1>
          <p>
            zgomot is a DSL for composing MIDI music. It does not do synthesis so to create sound it requires digital audio software such as Apple&#8217;s
            Garage Band, Logic or Abelton Live. 
          </p>
          <div class="more">
  				  <a href="/projects/agent-xmpp">read more &raquo;</a>
  				</div>
        </div>
      </li>
    </ul>
  </div>
<% end %>