<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>web.gnos.us</title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <script type="text/javascript">
    $(document).ready(function() {
      setPageWidth();
    });
  </script>
  
 	<img src="/web-gnosus/web-gnosus-background.png" id="web-gnosus-background" >
  <div id="content">
    <div id="navigation-wrapper">
    	<div id="navigation">
       	<img src="/web-gnosus/web-gnosus-name.png" class="logo">
    	</div>
    </div>

    <div id="page-wrapper">
      <div id="page">
      </div>
    </div>
  </div>

  <div id="footer-wrapper">
    <div id="footer">
      <div>
     	  <a href="/"><img src="/web-gnosus/web-gnosus-imaginaryProducts.png" class="logo"></a>
     	</div>
      <ul>
        <li>
          <img src="/web-gnosus/web-gnosus-email.png" alt="email imaginaryProducts"/>
        </li>
        <li>
          <a href="http://www.twitter.com/imaginaryprod">
            <img src="/web-gnosus/web-gnosus-twitter.png" alt="Follow imaginaryprod on Twitter"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</body>
</html>