<% content_for :navigation do %>
  <div id="zgomot-navigation">
    <ul>
      <li><a href="/projects/zgomot/docs">Documentation</a></li>
    </ul>
  </div>
<% end %>
<% content_for :page do %>
<% end %>