<% content_for :navigation do %>
<% end %>
<% content_for :page do %>
   <a href="https://github.com/troystribling/zgomot"><img style="position: absolute; top: 0; right: 0; border: 0;"            src="https://d3nwyuy0nl342s.cloudfront.net/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>  
   <div id="zgomot-left">
    <p>
      zgomot is a Ruby DSL for composing music as programs. Programs generate MIDI streams that are rendered by audio software such as GarageBand and Ableton Live. 
      It provides abstractions that easily allow programming of algorithmic music. This includes using Roman Numeral Notation to represent a melody and applying sequences of
      transformations to produce notes. 
    </p>
    <p>
      Writing a program that goes through scales is easy.
    </p>
    <h1>Install</h1>
    <div class="code">
      <pre>
  gem install zgomot
      </pre>
    </div>
    <h1>Configure</h1>
    <div class="code">
      <pre>
  # zgomot.yml
  time_signature: 4/4
  beats_per_minute: 120
  resolution: 1/64    
      </pre>
    </div>
    <h1>Code</h1>
    <div class="code">
      <pre>
  # mytune.rb
  require 'rubygems'
  require 'zgomot'

  str 'scales' do 
    ch << [np([:C,5]),
      np([:C,5]).reverse!.shift, 
      n(:R)]
  end

  play
      </pre>
    </div>
    <h1>Run</h1>
    <div class="code">
      <pre>
  ruby mytune.rb
      </pre>
    </div>
    <h1>Enable IAC Driver</h1>
    <div class="section">
      The IAC Driver must be enabled for programs to communicate with the digital audio software used to render used to render the generated MIDI stream. 
      To enable the IAC Driver open <em>Audio MIDI Setup</em>. Under the <em>Window</em> menu item select 
      <em>Show MIDI Window</em>. Find the <em>IAC Driver</em>, double click it and be sure <em>Device is online</em> is selected 
      and at least one port exists. 
    </div>
    <h1>Start Digital Audio Software</h1>
    <div class="section">
      Start Garage Band, Logic, Abelton Live or any other Digital Audio Workstation software and select an instrument.
    </div>
  </div>  
  <div id="zgomot-right">
    <img id="zgomot-equalizer" src="/zgomot/zgomot-logo.png">
    <div class="info">
      <h1>Documentation</h1>
      <ul>
        <li><a href="/projects/zgomot/docs">README</a></li>
      </ul>
      <h1>Artists</h1>
      <ul>
        <li><a href="https://github.com/troystribling/imaginaryProduct"><strong>imaginaryProduct</strong></a></li>
      </ul>
    </div>
  </div>  
<% end %>