/******* global *******/
* {
  margin:0;
  padding:0; 
}
html, body { 
  height: 100%;
}
body {
  font-family: arial, verdana, helvetica, sans-serif;
  background-color: #FFF;
  font-size: 20px;
  margin: 0px;
}
a {
	color: #999999;
}
a img {
	border: 0;
}
a:hover {
	text-decoration: none;
}
hr {
	display: none;
}
h1 {
    font-weight: normal;
    font-size: 150%;
}

/******* navigation *******/
#navigation-wrapper {
  padding-bottom: 20px;
  height: 50px;
  font-weight: lighter;
  letter-spacing: -1px;
  text-align: center;
}
#navigation {
  margin: 0 auto;
  width: 1000px;
  text-align: left;
}
#navigation ul {
  list-style-type: none;
  float: right;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-right: 20px;
}
#navigation li {
  display: inline;
  font-size: 1.0em;
  margin: 0px;
  margin-left: 10px;
} 
#navigation li a {
  text-decoration: none;
  color: #000;
  text-shadow: 0px 0px 4px #666;
} 
#navigation li a:hover {
  color: #808080;
  text-shadow: 0px 0px 3px #999;
  text-decoration: none;
} 
#navigation li a:visited {
  text-decoration: none;
} 
#navigation li a:active {
  text-decoration: none;
} 
#navigation li.selected {
  color: #888;
  text-shadow: 0px 0px 3px #999;
} 
#navigation .logo {
  float: left;
  padding: 0px;
  padding-left: 20px;
  padding-top: 15px;
  margin: 0px;
}

/******* game-of-life *******/
#game-of-life {
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/******* content *******/
#content {
  min-height: 100%;
}

/******* page *******/
#page-wrapper {
  overflow: auto;
  padding-bottom: 75px;
}
#page {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#page h1 {
  margin: 0;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

/******* post *******/
#post-navigation {
	margin-top: 2px;
  margin-right: 20px;
  width: 20.5%;
  float: right;
  text-align: left;
}
#post-navigation a {
	text-decoration: none;
}
#post-navigation p {
  margin: 0;
  margin-bottom: 10px;
  margin-left: 13px;
  color: #000;
  text-shadow: 0px 0px 4px #666;
}
#post-navigation p a {
  color: #000;
}
#post-navigation p a:hover {
  color: #777;
  text-shadow: 0px 0px 3px #888;
}
#post-navigation ul {
  margin: 0;
  padding:0;
  margin-left: 10px;
  list-style-type: none;
}
#post-navigation li {
  margin: 0px;
} 
#post-navigation li.rss{
} 
#post-navigation li.email{
} 
#post-navigation li.twitter{
} 
#post-navigation li a {
  text-decoration: none;
} 
.post-item {
  background-color: #FFF;
  -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #AAA;
	-moz-box-shadow: 0 0 15px #BBB;
	-webkit-box-shadow: 0 0 15px #BBB;
	box-shadow: 0 0 15px #BBB;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-left: 20px;
  padding: 20px;
  width: 65%;
  float: left;
  text-align: left;
}
.post-item .date {
	float: left;
	margin: 0;
	margin-top: 55px;
	text-align: left;
    width: 20%;
	font-size: 80%;
	color: #AAA;
}
.post {
    float: left;
    width: 78%;
	margin: 0;
    text-align: left;
}
.post .title {
	margin: 0;
	padding: 0;
	font-size: 150%;
}
.post .title a {
	text-decoration: none;
    color: #696;
}
.post .entry {
	margin: 0;
	padding: 0;
	font-size: 85%;
}
.post p {
	margin-top: 20px;
}
.post .more {
    color: #AAA;
	text-decoration: none;
}
.blog-space {
	margin: 0 auto;
    height: 20px;
    width: 1000px;
    clear: left;
}

/******* postzoom *******/
.postzoom {
	margin-top: 20px;
	position: relative;
    text-align: left;
}
.postzoom input.title {
	margin: 0;
	padding: 0;
	font-size: 1em;
	width: 700px;
	height: 40px;
}
.postzoom .date {
	margin: 0;
	padding: 0;
	margin-top:10px;
	line-height: normal;
	text-transform: uppercase;
	color: #9999a6;
}
.postzoom .entry {
	margin: 0;
	padding: 0;
	font-size: 1em;
	margin-top: 10px;
	display: block;
	width: 700px;
	height: 450px;
}
.postzoom input.edit {
	width: 75px;
	font-size: 1em;
	position: absolute;
	top: 0;
	right: 140;
}

/******* auth *******/
#auth {
  margin: 0;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

/******* footer *******/
#footer-wrapper {
  position: relative;
  margin-top: -75px;
  height: 55px;
  clear: both;
  padding-top: 20px;
	color: #FFFFFF;
}
#footer {
  margin: 0 auto;
  width: 1000px;
}
#footer .logo {
  margin: 0;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
#footer ul {
  margin: 0;
  list-style-type: none;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}
#footer li {
  display: inline;
  margin: 0px;
  margin-left: 10px;
} 
#footer li.email{
} 
#footer li.twitter{
} 
#footer li a {
    text-decoration: none;
} 
#legal {
	clear: both;
	margin: 0;
	padding: 10px;
	font-size: 10px;
	color: #525252;
}

/******* archive *******/
.archive {
    margin-left: 20px;
}
.archive .date {
	font-size: 100%;
	color: #9999a6;
}
.archive .title a {
	font-size: 120%;
	text-decoration: none;
	padding-left: 20px;
	color: #000000;
}

/******* disqus *******/
#disqus_thread {
	font-size: 1em;
    clear: left;
}
#dsq-account-dropdown a {
	color: #9999a6;
	text-decoration: none;
}
#dsq-reply h3, #dsq-content h3 {
	font-size: 100%;
	font-weight: normal;
}
li a.dsq-subscribe-email em, li a.dsq-subscribe-rss em {
	font-size: 80%;
	font-weight: normal;
	color: #9999a6;
	text-decoration: none;
}
a.dsq-comment-reply {
	font-size: 90%;
	color: #9999a6;
	text-decoration: none;
}
.dsq-comment-meta a {
	font-size: 90%;
	color: #9999a6;
	text-decoration: none;
}
a.dsq-brlink {
	text-decoration: none;
}
.dsq-comment-text {
	font-size: 85%;
}

/******* code blocks *******/
pre {
	font-family: Monaco, monospace;
	color: #ccc;
	background: #000;
	border-left: 6px solid #222;
	padding: 0.4em;
	padding-left: 0.8em;
}
pre span.attribute { color: #009900; }
pre span.char { color: #F00; }
pre span.class { color: #A020F0; font-weight: bold; }
pre span.comment { color: #0000FF; }
pre span.constant { color: #008B8B; }
pre span.escape { color: #6A5ACD; }
pre span.expr { color: #2222CC; }
pre span.global { color: #11AA44; }
pre span.ident { color: #CCCCCC; }
pre span.keyword { color: #A52A2A; font-weight: bold; }
pre span.method { color: #008B8B; }
pre span.module { color: #A020F0; font-weight: bold; }
pre span.number { color: #DD00DD; }
pre span.punct { color: #6A5ACD; }
pre span.regex { color: #DD00DD; }
pre span.string { color: #DD00DD; }
pre span.symbol { color: #008B8B; }

/*******  image gallery *******/
#floater {
    float:left; 
    height:50%; 
    margin-bottom:-330px;
}
#gallery {
  margin: 0 auto;
  margin-top: 20px;
  width: 800px;
  overflow: hidden;
  text-align: center;
  -moz-box-shadow: 0 0 10px #999;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  clear: both;
}
#slides {
  text-align: left;
	height: 400px;
	width: 800px;
	overflow: hidden;
}
.slide {
	height: 400px;
	width: 800px;
	float: left;
}
.slide .relative{
    position: relative;
}
#menu {
  text-align: center;
}
#menu ul{
	margin: 0px;
	padding: 0px;
}
li.menuItem{
	width: 100px;
	height: 125px;
	display:inline-block;
	zoom:1; 
	*display: inline;
	list-style:none;
}
li.menuItem.inact:hover{
}
li.menuItem.act,li.menuItem..act:hover{
}
li.menuItem.act a{
	cursor:default;
}
li.menuItem a {
	display:block;
	height: 35px;
	padding-top: 10px;
}

/*******  vignette *******/
#company-vignette-top, #company-vignette-bottom, #company-vignette-left, #company-vignette-right {
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 100%; 
}
#company-vignette-top, #company-vignette-bottom {
  height: 20%; 
}
#company-vignette-left, #company-vignette-right{
  width: 20%; 
}
#company-vignette-top {
  background-image: -moz-linear-gradient(100% 100% 90deg, rgba(238, 238, 238, 0), #ddd );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(rgba(238, 238, 238, 0)));
  top: 0; 
}
#company-vignette-bottom{
  background-image: -moz-linear-gradient(100% 100% 90deg, #ddd, rgba(238, 238, 238, 0) );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238, 238, 238, 0)), to(#ddd));
  bottom: 0; 
}
#company-vignette-left{
  background-image: -moz-linear-gradient(100% 100% 180deg, rgba(238, 238, 238, 0), #ddd );
  background-image: -webkit-gradient(linear, left center, right center, from(#ddd), to(rgba(238, 238, 238, 0)));
  left: 0;
}
#company-vignette-right{
  background-image: -moz-linear-gradient(100% 100% 180deg, #ddd, rgba(238, 238, 238, 0) );
  background-image: -webkit-gradient(linear, right center, left center, from(#ddd), to(rgba(238, 238, 238, 0)));
  right: 0;
}

/******* products *******/
#products {
  margin: 0 auto;
  padding-top: 30px;
  width: 800px;
}
#products ul{
	margin: 0px;
	padding: 0px;
}
#products li.product {
}
#products li.product .icon {
  margin-left: 20px;
  float:left;
}
#products li.product .app-store {
  float:right;
  margin-right: 20px;
}
#products li.product .coming-soon {
  float:right;
  margin-right: 20px;
}
#products li.product .content {
  float:left;
  margin-left: 20px;
  width: 65%;
  clear right;
  text-align: left;
}
#products li.product .content h1 {
	color: #696;
  font-size: 120%;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
}
#products li.product .content p {
  margin: 0px;
  font-size: 85%;
}
#products li.product .content .more {
  margin: 0px;
  margin-top: 10px;
}
#products li.product .content .more a {
  text-decoration: none;
	color: #AAA;
  font-size: 85%;
}
#products li.product {
  margin-bottom: 40px;
  background-color: #FFF;
	list-style:none;
  -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow: 0 0 15px #BBB;
	-webkit-box-shadow: 0 0 15px #BBB;
	box-shadow: 0 0 15px #BBB;
  border-style:solid;
  border-width:1px;
  border-color:#DDD;
  clear: right;
}

/******* projects *******/
#projects {
  margin: 0 auto;
  padding-top: 30px;
  width: 800px;
}
#projects ul{
	margin: 0px;
	padding: 0px;
}
#projects li.project {
}
#projects li.project .icon {
  margin-left: 10px;
  float:left;
}
#projects li.project .content {
  float:right;
  margin-right: 40px;
  width: 560px;
  clear right;
  text-align: left;
}
#projects li.project .content h1 {
	color: #696;
  font-size: 120%;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
}
#projects li.project .content p {
  margin: 0px;
  font-size: 85%;
}
#projects li.project .content .more {
  margin: 0px;
  margin-top: 10px;
}
#projects li.project .content .more a {
  text-decoration: none;
	color: #AAA;
  font-size: 85%;
}
#projects li.project {
  margin-bottom: 40px;
  background-color: #FFF;
	list-style:none;
  -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow: 0 0 15px #BBB;
	-webkit-box-shadow: 0 0 15px #BBB;
	box-shadow: 0 0 15px #BBB;
  border-style:solid;
  border-width:1px;
  border-color:#DDD;
  clear: right;
}

/******* product webgnosus *******/
#web-gnosus-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/******* project zgomot *******/
#zgomot-vignette-top, #zgomot-vignette-bottom, #zgomot-vignette-left, #zgomot-vignette-right {
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 100%; 
}
#zgomot-vignette-top, #zgomot-vignette-bottom {
  height: 25%; 
}
#zgomot-vignette-left, #zgomot-vignette-right{
  width: 25%; 
}
#zgomot-vignette-top {
  background-image: -moz-linear-gradient(100% 100% 90deg, rgba(221, 221, 221, 0), #aaa );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(rgba(221, 221, 221, 0)));
  top: 0; 
}
#zgomot-vignette-bottom{
  background-image: -moz-linear-gradient(100% 100% 90deg, #aaa, rgba(221, 221, 221, 0) );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(221, 221, 221, 0)), to(#aaa));
  bottom: 0; 
}
#zgomot-vignette-left{
  background-image: -moz-linear-gradient(100% 100% 180deg, rgba(221, 221, 221, 0), #aaa );
  background-image: -webkit-gradient(linear, left center, right center, from(#aaa), to(rgba(221, 221, 221, 0)));
  left: 0;
}
#zgomot-vignette-right{
  background-image: -moz-linear-gradient(100% 100% 180deg, #aaa, rgba(221, 221, 221, 0) );
  background-image: -webkit-gradient(linear, right center, left center, from(#aaa), to(rgba(221, 221, 221, 0)));
  right: 0;
}
#zgomot-navigation ul {
  list-style-type: none;
  float: right;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-right: 20px;
}
#zgomot-navigation li a {
  display: inline;
  font-size: 125%;
  margin: 0px;
  margin-left: 10px;
  color: #777;
  text-shadow: 0px 0px 4px #AAA;
  text-decoration: none;
} 
#zgomot-navigation li a:hover {
  color: #333;
  text-shadow: 0px 0px 4px #888;
  text-decoration: none;
} 
#zgomot-navigation li a:visited {
  text-decoration: none;
} 
#zgomot-navigation li a:active {
  text-decoration: none;
} 
#zgomot-right {
  float: right;
  width: 350px;
  margin-top: 27px;
  margin-bottom: 30px;
}
#zgomot-right img {
}
#zgomot-right .info {
  margin-top: 0px;
}
#zgomot-right h1 {
  font-size: 125%;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
#zgomot-right p {
  margin-bottom: 20px;
  text-align: left;
}
#zgomot-right ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 20px;
}
#zgomot-right li {
}
#zgomot-right li a {
  text-decoration: none;
  color: #999;
} 
#zgomot-right li a:hover {
  text-decoration: underline;
} 
#zgomot-right li a:visited {
  text-decoration: none;
} 
#zgomot-right li a:active {
  text-decoration: none;
} 
#zgomot-left {
  width: 550px;
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  float: left;
}
#zgomot-left h1 {
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
#zgomot-left p {
  margin-bottom: 20px;
  text-align: left;
}
#zgomot-left a {
  text-decoration: none;
  color: #c90014; 
}
#zgomot-left .code {
  text-align: center;
}
#zgomot-left .code pre {
  background-color: #EEE;
  color: #000;
  text-align: left;
  font-size: 80%;
  border: 2px solid #AAA;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;1
}
#zgomot-left .section {
  text-align: center;
  background-color: #EEE;
  color: #000;
  text-align: left;
  font-size: 80%;
  border: 2px solid #AAA;
  padding: 20px;
  margin-bottom: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;1
}

/******* zgomot-documentation documentation *******/
#zgomot-documentation {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
#zgomot-documentation #documentation pre {
  background-color: #EEE;
  color: #000;
  text-align: left;
  font-size: 80%;
  border: 2px solid #AAA;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;1
}
#zgomot-documentation #documentation p {
  margin-bottom: 20px;;
  text-align: left;
}
#zgomot-documentation #documentation h2 {
  margin-bottom: 20px;;
  text-align: left;
}
#zgomot-documentation #documentation h3 {
  margin-bottom: 20px;;
  text-align: left;
}
#zgomot-documentation #documentation h4 {
  margin-bottom: 20px;;
  text-align: left;
}
#zgomot-documentation #documentation ul {
  margin-left: 40px;
}
#zgomot-documentation #documentation a {
  color: #2059ea;
  text-decoration: none;
} 
#zgomot-documentation #documentation a:hover {
  text-decoration: none;
} 
#zgomot-documentation #documentation a:visited {
  text-decoration: none;
} 
#zgomot-documentation #documentation a:active {
  text-decoration: none;
} 

/******* project agent-xmpp *******/
#agent-xmpp-right {
  font-family:'Lucida Casual', 'Comic Sans MS';
  float: right;
  width: 45%;
  margin-top: 27px;
  margin-right: 20px;
  margin-bottom: 30px;
}
#agent {
}
#agent-xmpp-right .info {
  margin-top: 20px;
}
#agent-xmpp-right h1 {
  font-size: 125%;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
#agent-xmpp-right p {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: left;
}
#agent-xmpp-right ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: 20px;
}
#agent-xmpp-right li {
}
#agent-xmpp-right li a {
  text-decoration: none;
  color: #999;
} 
#agent-xmpp-right li a:hover {
  text-decoration: underline;
} 
#agent-xmpp-right li a:visited {
  text-decoration: none;
} 
#agent-xmpp-right li a:active {
  text-decoration: none;
} 
#agent-xmpp-left {
  font-family:'Lucida Casual', 'Comic Sans MS';
  max-width: 47.5%;
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  float: left;
}
#agent-xmpp-left h1 {
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
#agent-xmpp-left p {
  text-align: left;
  margin-bottom: 20px;
}
#agent-xmpp-left a {
  text-decoration: none;
  color: #c90014; 
}
#agent-xmpp-left .code {
  text-align: center;
}
#agent-xmpp-left .code pre {
  background-color: #fff;
  color: #000;
  text-align: left;
  font-size: 75%;
  border: 5px solid #000;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
}
#agent-xmpp-vignette-top, #agent-xmpp-vignette-bottom, #agent-xmpp-vignette-left, #agent-xmpp-vignette-right {
  height: 100%;
  position: fixed;
  z-index: -1;
  width: 100%; 
}
#agent-xmpp-vignette-top, #agent-xmpp-vignette-bottom {
  height: 30%; 
}
#agent-xmpp-vignette-left, #agent-xmpp-vignette-right{
  width: 30%; 
}
#agent-xmpp-vignette-top {
  background-image: -moz-linear-gradient(100% 100% 90deg, rgba(239, 238, 234, 0), #efeeea );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efeeea), to(rgba(239, 238, 234, 0)));
  top: 0; 
}
#agent-xmpp-vignette-bottom{
  background-image: -moz-linear-gradient(100% 100% 90deg, #efeeea, rgba(239, 238, 234, 0) );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(239, 238, 234, 0)), to(#efeeea));
  bottom: 0; 
}
#agent-xmpp-vignette-left{
  background-image: -moz-linear-gradient(100% 100% 180deg, rgba(239, 238, 234, 0), #efeeea );
  background-image: -webkit-gradient(linear, left center, right center, from(#efeeea), to(rgba(239, 238, 234, 0)));
  left: 0;
}
#agent-xmpp-vignette-right{
  background-image: -moz-linear-gradient(100% 100% 180deg, #efeeea, rgba(239, 238, 234, 0) );
  background-image: -webkit-gradient(linear, right center, left center, from(#efeeea), to(rgba(239, 238, 234, 0)));
  right: 0;
}
#agent-xmpp-navigation ul {
  font-family:'Lucida Casual', 'Comic Sans MS';
  list-style-type: none;
  float: right;
  margin-top: 98px;
  margin-bottom: 0px;
  padding-right: 20px;
}
#agent-xmpp-navigation li a {
  display: inline;
  font-size: 125%;
  margin: 0px;
  margin-left: 10px;
  text-shadow: 0px 0px 0px #666;
  text-decoration: none;
  color: #000;
} 
#agent-xmpp-navigation li a:hover {
  color: #f2f05c;
  text-decoration: none;
} 
#agent-xmpp-navigation li a:visited {
  text-decoration: none;
} 
#agent-xmpp-navigation li a:active {
  text-decoration: none;
} 

/******* agent-xmpp-documentation documentation *******/
#agent-xmpp-documentation {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
#agent-xmpp-documentation #documentation pre {
  background-color: #fff;
  color: #000;
  text-align: left;
  font-size: 80%;
  border: 5px solid #000;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
}
#agent-xmpp-documentation #documentation p {
  margin-bottom: 20px;;
  text-align: left;
}
#agent-xmpp-documentation #documentation h2 {
  margin-bottom: 20px;;
  text-align: left;
}
#agent-xmpp-documentation #documentation h3 {
  margin-bottom: 20px;;
  text-align: left;
}
#agent-xmpp-documentation #documentation ul {
  margin-left: 40px;
}
#agent-xmpp-documentation #documentation a {
  text-decoration: none;
} 
#agent-xmpp-documentation #documentation a:hover {
  text-decoration: none;
} 
#agent-xmpp-documentation #documentation a:visited {
  text-decoration: none;
} 
#agent-xmpp-documentation #documentation a:active {
  text-decoration: none;
} 
