/******* global *******/
* {
    margin:0;
    padding:0; 
}
html, body { 
    height: 100%;
}
body {
    background-image: url('background.png');
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}
a {
	color: #999999;
}
a img {
	border: 0;
}
a:hover {
	text-decoration: none;
}
hr {
	display: none;
}
h1 {
    font-weight: normal;
    font-size: 150%;
}

/******* navigation *******/
#navigation-wrapper {
    padding-bottom: 20px;
    height: 50px;
    font-weight: lighter;
    letter-spacing: -1px;
    text-align: center;
}
#navigation {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#navigation ul {
    list-style-type: none;
    float: right;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-right: 20px;
}
#navigation li {
    display: inline;
    font-size: 1.0em;
    margin: 0px;
    margin-left: 10px;
} 
#navigation li a {
    text-decoration: none;
    color: #747474;
    text-shadow: 1px 1px 2px #fff;
} 
#navigation li a:hover {
    color: #5270a3;
    text-decoration: none;
} 
#navigation li a:visited {
    text-decoration: none;
} 
#navigation li a:active {
    text-decoration: none;
} 
#navigation li.selected {
    color: #5270a3;
    text-shadow: 1px 1px 2px #fff;
} 
#navigation .logo {
    float: left;
    padding: 0px;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0px;
}

/******* content *******/
#content {
    min-height: 100%;
}
/******* page *******/
#page-wrapper {
    overflow: auto;
    padding-bottom: 75px;
}
#page {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#page h1 {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

/******* post *******/
#post-navigation {
	margin-top: 2px;
    margin-right: 20px;
    width: 20.5%;
    float: right;
    text-align: left;
}
#post-navigation a {
	text-decoration: none;
}
#post-navigation p {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 13px;
    text-shadow: 1px 1px 2px #fff;
}
#post-navigation p a {
    color: #999;
}
#post-navigation ul {
    margin: 0;
    padding:0;
    margin-left: 10px;
    list-style-type: none;
}
#post-navigation li {
    margin: 0px;
} 
#post-navigation li.rss{
} 
#post-navigation li.email{
} 
#post-navigation li.twitter{
} 
#post-navigation li a {
    text-decoration: none;
} 
.post-item {
    background-color: #FFF;
    -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-bottom-radius: 15px;
	border: 1px solid #AAA;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 20px;
    width: 65%;
    float: left;
    text-align: left;
}
.post-item .date {
	float: left;
	margin: 0;
	margin-top: 55px;
	text-align: left;
    width: 20%;
	font-size: 80%;
	color: #9999a6;
}
.post {
    float: left;
    width: 78%;
	margin: 0;
    text-align: left;
}
.post .title {
	margin: 0;
	padding: 0;
	font-size: 150%;
}
.post .title a {
	text-decoration: none;
    color: #5270a3;
}
.post .entry {
	margin: 0;
	padding: 0;
	font-size: 85%;
}
.post p {
	margin-top: 20px;
}
.post .more {
    color: #AAA;
	text-decoration: none;
}
.blog-space {
	margin: 0 auto;
    height: 20px;
    width: 1000px;
    clear: left;
}

/******* postzoom *******/
.postzoom {
	margin-top: 20px;
	position: relative;
}
.postzoom title {
	margin: 0;
	padding: 0;
	font-size: 1em;
	width: 700px;
	height: 40px;
    text-align: left;
}
.postzoom .date {
	margin: 0;
	padding: 0;
	margin-top: 30px;
	line-height: normal;
	text-transform: uppercase;
	color: #9999a6;
}
.postzoom .entry {
	margin: 0;
	padding: 0;
	font-size: 1em;
	margin-top: 30px;
	display: block;
	width: 700px;
	height: 450px;
}
.postzoom .edit {
	width: 75px;
	font-size: 1em;
	position: absolute;
	top: 0;
	right: 0;
}

/******* auth *******/
#auth {
    margin: 0;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}

/******* footer *******/
#footer-wrapper {
    position: relative;
    margin-top: -75px;
	height: 55px;
    clear: both;
    padding-top: 20px;
    background-image: url('footer-background.png');
	color: #FFFFFF;
}
#footer {
  margin: 0 auto;
  width: 1000px;
}
#footer ul {
    margin: 0;
    list-style-type: none;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
#footer li {
    display: inline;
    margin: 0px;
    margin-left: 10px;
} 
#footer li.email{
} 
#footer li.twitter{
} 
#footer li a {
    text-decoration: none;
} 
#legal {
	clear: both;
	margin: 0;
	padding: 10px;
	font-size: 10px;
	color: #525252;
}

/******* archive *******/
.archive {
    margin-left: 20px;
}
.archive .date {
	font-size: 100%;
	color: #9999a6;
}
.archive .title a {
	font-size: 120%;
	text-decoration: none;
	padding-left: 20px;
	color: #000000;
}

/******* disqus *******/
#disqus_thread {
	font-size: 1em;
    clear: left;
}
#dsq-account-dropdown a {
	color: #9999a6;
	text-decoration: none;
}
#dsq-reply h3, #dsq-content h3 {
	font-size: 100%;
	font-weight: normal;
}
li a.dsq-subscribe-email em, li a.dsq-subscribe-rss em {
	font-size: 80%;
	font-weight: normal;
	color: #9999a6;
	text-decoration: none;
}
a.dsq-comment-reply {
	font-size: 90%;
	color: #9999a6;
	text-decoration: none;
}
.dsq-comment-meta a {
	font-size: 90%;
	color: #9999a6;
	text-decoration: none;
}
a.dsq-brlink {
	text-decoration: none;
}
.dsq-comment-text {
	font-size: 85%;
}

/******* code blocks *******/
pre {
	font-family: Monaco, monospace;
	color: #ccc;
	background: #000;
	border-left: 6px solid #222;
	padding: 0.4em;
	padding-left: 0.8em;
}
pre span.attribute { color: #009900; }
pre span.char { color: #F00; }
pre span.class { color: #A020F0; font-weight: bold; }
pre span.comment { color: #0000FF; }
pre span.constant { color: #008B8B; }
pre span.escape { color: #6A5ACD; }
pre span.expr { color: #2222CC; }
pre span.global { color: #11AA44; }
pre span.ident { color: #CCCCCC; }
pre span.keyword { color: #A52A2A; font-weight: bold; }
pre span.method { color: #008B8B; }
pre span.module { color: #A020F0; font-weight: bold; }
pre span.number { color: #DD00DD; }
pre span.punct { color: #6A5ACD; }
pre span.regex { color: #DD00DD; }
pre span.string { color: #DD00DD; }
pre span.symbol { color: #008B8B; }

/*******  image gallery *******/
#floater {
    float:left; 
    height:50%; 
    margin-bottom:-330px;
}
#gallery {
    margin: 0 auto;
    margin-top: 0px;
	width: 800px;
	overflow: hidden;
    text-align: center;
	-moz-box-shadow: 0 0 5px #AAAAAA;
	-webkit-box-shadow: 0 0 5px #AAAAAA;
	box-shadow: 0 0 25px #888;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-bottom-radius: 15px;
    clear: both;
}
#slides {
    text-align: left;
	height: 400px;
	width: 800px;
	overflow: hidden;
}
.slide {
	height: 400px;
	width: 800px;
	float: left;
}
.slide .relative{
    position: relative;
}
#menu {
    text-align: center;
}
#menu ul{
	margin: 0px;
	padding: 0px;
}
li.menuItem{
	width: 80px;
	height: 100px;
	display:inline-block;
	zoom:1; 
	*display: inline;
	list-style:none;
	overflow:hidden;
}
li.menuItem.inact:hover{
}
li.menuItem.act,li.menuItem..act:hover{
}
li.menuItem.act a{
	cursor:default;
}
li.menuItem a {
	display:block;
	height: 35px;
	padding-top: 10px;
}

/******* products *******/
#products {
    margin: 0 auto;
    padding-top: 30px;
    width: 800px;
}
#products ul{
	margin: 0px;
	padding: 0px;
}
#products li.product {
}
#products li.product .icon {
    margin-left: 10px;
    float:left;
}
#products li.product .app-store {
    float:right;
    margin-right: 20px;
}
#products li.product .content {
    float:left;
    margin-left: 20px;
    width: 65%;
    clear right;
}
#products li.product .content h1 {
	color: #5270a3;
    font-size: 120%;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
}
#products li.product .content p {
    margin: 0px;
    font-size: 85%;
}
#products li.product .content .more {
    margin: 0px;
    margin-top: 10px;
}
#products li.product .content .more a {
    text-decoration: none;
	color: #AAA;
    font-size: 85%;
}
#products li.product{
    margin-bottom: 40px;
    background-color: #FFF;
	list-style:none;
    -moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-bottom-radius:15px;
	box-shadow:0 0 25px #888;
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
    clear:; right;
}

/******* product *******/
